<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </nav>
    <h1>Contact List</h1>
    <ul>
        <% for(let current of contact_list) {%>
            <li>
                <p>
                    <%= current.name %>
                </p>
                <p>
                    <%= current.phone %>
                </p>
                <p>
                    <%= current.address %>
                </p>
                <p>
                    <%= current.email %>
                </p>
            </li>
            <button><a href="/deleteContact/<%= current._id %>">Delete</a></button>
            <% } %>
    </ul>
    <h3>Add new contact</h3>
    <button><a href="/home">Add Contact</a></button>
</body>

</html>